.button-front-page {
    -fx-background-color: #9cc7e2; /* Normal background color */
    -fx-text-fill: #232323;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0.0, 0, 1);
    -fx-background-radius: 10; /* Rounded corners */
}

.button-front-page:hover {
    -fx-background-color: #d6e6f3; /* Background color on hover */
}

.button-selected {
    -fx-background-color: #ffffff; /* Background color on hover */
}

.button-log-out {
    -fx-background-color: #d4af37; /* Background color */
    -fx-text-fill: #000000; /* Text color */
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0.0, 0, 1);
    -fx-background-radius: 10; /* Rounded corners */
}

.left-bar {
    -fx-background-color: #0a3f63; /* Background color */
    -fx-padding: 10; /* Add some padding around the buttons */
    -fx-spacing: 40; /* Space between buttons */
}

.left-buttons {
}

.user-box {
    -fx-background-color: #ffffff; /* Background color */
    -fx-spacing: 10; /* Space between buttons */
    -fx-border-radius: 10; /* Rounded corners */
    -fx-background-radius: 10; /* Rounded corners */
    -fx-padding: 20; /* Add some padding around the buttons */
}

.otsikko {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.info {
    -fx-padding: 20;
}

